amqp==1.4.6
anyjson==0.3.3
autopep8==1.2.1
backports.functools-lru-cache==1.5
billiard==3.3.0.20
Bottleneck==1.2.1
celery==3.1.18
census==0.7
certifi==2018.11.29
chardet==3.0.4
colorama==0.2.5
configobj==4.7.2
cycler==0.10.0
dj-database-url==0.4.0
Django==1.7.1
django-allauth==0.22.0
django-autocomplete-light==2.0.3
django-autoslug==1.7.2
django-cities-light==3.0.3
django-csvimport==2.4
django-datetime-widget==0.9.3
django-localflavor==1.1
django-mathfilters==0.3.0
django-pandas==0.6.0
django-rest-auth==0.7.0
django-widget-tweaks==1.3
djangorestframework==3.3.0
docutils==0.12
flake8==2.5.1
gevent==1.0
greenlet==0.4.2
gunicorn==17.5
html5lib==0.999
idna==2.8
importmagic==0.1.3
jedi==0.9.0
jellyfish==0.5.1
joblib==0.12.5
kiwisolver==1.0.1
kombu==3.0.26
lifelines==0.17.3
linecache2==1.0.0
lockfile==0.12.2
matplotlib==2.2.3
mccabe==0.3.1
numpy==1.9.1
oauthlib==0.6.3
pam==0.1.4
pandas==0.23.3
pep8==1.5.7
psutil==3.3.0
psycopg2==2.4.5
pydf==12
pyflakes==1.0.0
pyinotify==0.9.4
pyOpenSSL==0.13
pyparsing==2.3.1
pyserial==2.6
pysqlite==2.8.3
python-daemon==2.1.0
python-dateutil==2.7.5
python-openid==2.2.5
pytz==2015.6
pyzipcode==0.4
requests==2.2.1
requests-oauthlib==0.4.2
rope==0.10.3
scikit-learn==0.20.0
scipy==1.2.0
sendgrid==1.2.0
setproctitle==1.1.9
six==1.10.0
sklearn==0.0
smtpapi==0.1.2
South==0.7.5
ssh-import-id==3.21
stripe==1.29.1
subprocess32==3.5.3
traceback2==1.4.0
Twisted==15.5.0
Unidecode==0.4.17
unittest2==0.5.1
urllib3==1.7.1
us==0.9.1
virtualenv==1.11.4
xgboost==0.6a2
xlrd==0.9.4
yapf==0.6.2
zope.interface==4.0.5
django-cachebuster==0.2.1
django-ipware==2.1.0
Whoosh==2.7.4